/**
 *清除样式
 */
*{
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
}

/**
 * 设置行间距
 */
h1, h2, h3, h4, h5, h6,
p{
    margin-bottom: 1.2em;
}

a{
    text-decoration: none;
    display: block;
    color: #0099cc;
}
a:hover{
    color: #036;
}

.main a{
    font-size: 20px;
}
/**
 *header的样式
 */
.header{
    width: auto;
    /*height: 100px;*/
    margin: 0 auto;
    min-width: 400px;
    border-bottom: 1px solid #e8e8e8;
    color: #036;
    text-align: center;
}
.header h1{
    line-height: 100px;
    margin: 0.325rem !important;
    padding: 0px;
}
.header p{
    margin: 0px !important;
    padding: 5px 0;
}

/**
 *main的样式
 */
.main{
    min-height: 300px;
    text-align: center;
    overflow: hidden;
    padding: 20px;
}
/**
 *footer的样式
 */
.footer{
    min-height: 100px;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    text-align: center;
}
/**
*各个作者的div展示板
*/
.author {
    float: left;
    /*height: */
    margin: 20px;
}
.author .move-l {
    border: 1px solid #3e3d33;
    padding: 20px;
    width: 250px;
    height: 350px;
    background-color: #fff;
    border: 1px solid rgba(223,231,239, .7);
    color: rgb(32,40,48);
    text-shadow: 0 1px 1px rgb(255,255,255);
    font-size: 14px;
    transition: all .5s ease;
}
.author .move-l img {
    /*border: 1px solid #3e3d33;*/
    padding: 20px;
    width: 210px;
    height: 300px;
}
.author .move-l:hover {
    /*position: absolute;*/
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
    -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
    box-shadow: 0 -1px 10px rgba(0,0,0,.5);
}
