//主色：红色
$red: #e74f4d;
//背景色鲜红色
$lighter-red: #e7504d;
//选中色，深红色
$deep-red: #bf4f49;
//浅灰色
$light-grey: #f7f7f7;
//字体用浅灰色
$font-grey: #979898;
//背景主灰色
$bg-grey: #d2d2d2;
//弹出栏深灰色
$deep-grey: #e3e3e4;
//大标题深色字
$grey: #676768;
//边框及小字色
$lighter-gey: #d2d2d2;
$white: #fff;
$black: #323333;

$footor-blue: #32353e;

$end-purple: #2f3038;