* {
	margin: 0px;
	padding: 0px;
}
body {
	margin: 0px;
	padding-left: 44px;
	padding-right: 44px;
	width: 892px;
	height: 1386px;
	position: relative;
}
p {
	font-family: 'Microsoft YaHei';
	font-size: 12px;
}
hr {
	border: 1px solid #000;
	margin: 0px;
	padding: 0px;
}
div {
	position: relative;
}
nav {
	height: 61px;
}
nav span {
	font-family: 'SimHei';
	font-size: 12px;
}

nav::after {
	clear: both;
}
.clear-both {
	clear: both;
}
.logo {
	float: left;
	width: 110px;
	height: 61px;
	background: #d45d5c;
	bottom: 0px;
	color: #fff;
	padding-left: 6px;
	line-height: 105px;
}

.time {
	color: #d45d5c;
	height: 100%;
	float: right;
	padding-left: 6px;
	line-height: 105px;
	text-align: right;
}
.hg-grey {
	border-color: #938e8c;
}
.fg-grey {
	color: #767777;
}
.fg-pink {
	color: #cc8091;
}
.context span {
	position: relative;
	margin: 0px;
}

footer {
	height: 61px;
	bottom: 0px;
	position: absolute;
	width: 892px;
	border-top: 1px solid black;
}
footer p {
	text-align: right;
	margin: 0px;
	font-size: 12px;
	color: #d45d5c;
}
.mask {
	width: 191px;
	height: 301px;
	opacity:0.5;
	z-index: 10;
}
.cover {
	margin-top: 33px;
	overflow: hidden;
}
.cover-pic {
	width: 641px;
	height: 301px;	
}
.cover-pic img {
	position: absolute;
	left: 0px;
}
.cover-about{
	width: 203px;
	height: 301px;
	border-top: 2px solid #cc8091;
}
.cover article {
	width: 641px;
	margin-top: 24px;

}
.cover article p {
	padding-right: 24px;
	opacity: 0.7;
	font-family: 'SimSun';
	font-size: 12px;
	font-family: "SimSun";
	color: rgb(118, 119, 119);
	line-height: 1.333;
}
.cover article section {
	float: left;
	overflow: hidden;
	height: 168px;

}
/* TODO:chrome加粗 */
/* 无法实现chrome的加粗 */
.cover header > h2 {
	font-size: 16px !important;
	font-weight: bold !important;
	text-decoration: underline;
	margin-bottom: 16px;
}
.cover article section:nth-child(1) {
	width: 40%;
	color: #418c59;	
}

.cover article section:nth-child(2) {
	width: 30%;
	color: #d2994f;	
}
.cover article section:nth-child(3) {
	width: 30%;
	color: #cc7680;	
}
.cover article section:nth-child(3) p {
	line-height: 1.75;
	font-family: "SimSun";
	color: rgb(118, 119, 119);
}

}
.cover article .what {
	font-size: 12px;
	line-height: 16px;
}
.cover-wrap {
	overflow: hidden;
}
.what span {
	color: #cd4a48;
	font-style: italic;
	font-size: 12px;
	line-height: 16px;
}
.c-alpha-green {
	background: #428c59;
}
.c-alpha-red {
	background: #cc7580;
}
.right {
	float: right;
}
.left {
	float: left;
}

.cover-about p {
	margin-top:16px; 
}
.cover-about .title {
	font-size: 24px;
	text-decoration: underline;
	font-variant: small-caps;
	line-height: 40px;
}
.cover-about .subtitle  {
	font-size: 12px;
	margin-top: 2px !important; 
	word-wrap: break-word;
	font-size: 12px;
	color: #676767;
	font-family: 'KaiTi';
	line-height: 10px;
}
.headline {
	font-size: 116px;
	color: #75b86b;
}
.css {
	position: absolute;
	bottom: 0px;
	margin-bottom: -9px;
}
.css > div {
	float: left;
}
.marked {
	font-size: 55px;
	line-height: 55px;
	margin-top: 0px !important;
}
.mixture {
	margin-top: 13px;
}
.mixture > p {
	margin: 0px;
}
.mixture .top {
	font-size: 22px;
}
.home-page {
	margin-top: 48px;
	width: 892px;
	overflow: hidden;
}
.home-page article {
	width: 415px;
	margin-right: 19px;
}
.home-page header {
	margin-bottom: 16px;
}
.home-page article header h2 {
	font-size: 42px;
	font-family: "SimHei";
	color: #11456b;
	word-break: break-all;
	/*line-height: 16px;*/
}
.home-page header h2 > span {
	color: #f5e327;
	font-size: 72px;
}
.home-page article header h3 {
	font-size: 33px;
	font-family: "SimHei";
	color: #11456b;
}
.home-page section p {
	font-size: 12px;
	font-family: "Adobe Heiti Std";
	color: rgba(118, 119, 119, 0.702);
	line-height: 1.333;
}
.home-page section p > span {
	font-size: 70px;
	color: #f5e327;
	margin: 8px;
	float: left;
}
.home-page article img {
	margin: 20px;
}
.indent2em {
	text-indent: 2em; 
}
.right-bottom {
	height: 275px;
	width: 458px;
}
.right-bottom img {
	opacity: 0.7;
	width: 458px;
	height: 275px;
}
.right-bottom .banner {
	width: 458px;
	height: 61px;
	position: absolute;
	bottom: 0px;
	background-color: rgba(4, 0, 0,0.4);
}
.right-bottom .banner p{
	margin-top: 8.5px;
	margin-left: 37px;
	border-left: 3px #72b16a solid;
	line-height: 1.7;
	font-size: 26px;
	color: #fff;
	padding-left: 13px;
	vertical-align: middle;
}
.right-bottom .banner p span {
	font-style: italic;
	word-spacing: 1.40;
	font-size: 12px;
	color: #72b16a;
}
.directory-context {
	margin-top: 30px;
	background-color: rgb(238, 237, 214);
	width: 458px;
	height: 318px;
	padding-top: 20px;
}
.directory-context .triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10.4px 6px 0 6px;
	border-color: #5a5b5b transparent transparent transparent;
	position: absolute;
	margin-top: 5.2px;
	margin-left: -20px;

}
.directory-context .footer {
	position: absolute;		
	bottom: 0px;
	left: 0px;
}
.directory-context .footer .footor-about {	
	width: 158px;
	padding: 20px
}
.blockquote:before {
	content: url(img/blockquoteq.png);
	font-family: "SimHei";
	color: rgb(212, 93, 92);
	position: absolute;
	width: 26px;
	height: 22px;
	top: 8px;
	left: -8px;
}
.blockquote {
	text-indent: 2em;
}
.blockquote:after {
	content: url(img/blockquote.png);
	vertical-align: text-bottom;
	font-family: "SimHei";
	color: rgb(212, 93, 92);
	position: absolute;
	width: 26px;
	height: 22px;
}
.directory-context .red {
		background-color: rgb(212, 93, 92);
	width: 260px;
	height: 160px;

}
.directory-context > p {
	margin-left: 40px;
	margin-top: 20px;
}
.directory-context .banner p {
	font-size: 16px;
	font-family: "SimSun";
	color: rgb(90, 91, 91);
	line-height: 1.25;
	margin-left: 40px;
	margin-top: 20px;
}
.directory-context .end {
	font-size: 12px;
	font-style: italic;
	text-align: right;
}
.directory-context .zero {
	padding: 37px 0px;
}
.directory-context .zero p {
	font-size: 110px;
	color: #fff;
	margin-left: 40px;
	border-right: 3px solid #fff;
	line-height: 98px;
	height: 86px;		
}
.directory-context .zero-about {
	float: left;
	width: 150px;
	padding: 37px 0px;
}
.directory-context .zero-about p {
	margin-left: 12px;
	word-break: break-all;
}
.directory-context .zero-about .title {
	font-size: 21px;
	font-family: 'SimHei';
	color: rgb(255, 255, 255);
	line-height: 1.143;
}
.directory-context .zero-about .subtitle{
	font-size: 12px;
	font-family: 'SimHei';
	color: rgb(255, 255, 255);
	line-height: 1.5;
}