@charset "UTF-8";
.font-cc {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -4px -4px;
  width: 42px;
  height: 42px;
  display: inline-block; }

.font-flag {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -59px -4px;
  width: 35px;
  height: 42px;
  display: inline-block; }

.font-app {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -104px -4px;
  width: 41px;
  height: 42px;
  display: inline-block; }

.font-flower {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -156px -4px;
  width: 37px;
  height: 42px;
  display: inline-block; }

.font-man {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -206px -5px;
  width: 14px;
  height: 17px;
  display: inline-block; }

.font-dropdown {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -228.5px -3.5px;
  width: 17px;
  height: 17px;
  display: inline-block; }

.font-book {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -6px -56px;
  width: 91px;
  height: 90px;
  display: inline-block; }

.font-qq {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -112px -62px;
  width: 25px;
  height: 25px;
  display: inline-block; }

.font-twtter {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -162px -62px;
  width: 30px;
  height: 25px;
  display: inline-block; }

.font-globe {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -112px -112px;
  width: 25px;
  height: 25px;
  display: inline-block; }

.font-sina {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -162px -112px;
  width: 30px;
  height: 25px;
  display: inline-block; }

.font-hook {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -267px -35px;
  width: 12px;
  height: 8px;
  display: inline-block; }

.font-book-ms {
  background: url(img/ioc.png);
  background-repeat: no-repeat;
  background-position: -210px -59px;
  width: 32px;
  height: 32px;
  display: inline-block; }

* {
  margin: 0rem;
  padding: 0rem; }

html {
  font-size: 100%;
  /*16 ÷ 16 × 100% = 100%*/
  font-family: "MicrosoftYaHei"; }

body {
  min-width: 1280px;
  width: 100%;
  color: #979898; }

div, section, header, article, h1, h2, h3, h4, h5, h6, p {
  position: relative; }

p {
  font-size: 0.75rem;
  font-family: "MicrosoftYaHei"; }

.hidden {
  display: none; }

nav {
  top: 0rem;
  height: 4.0625rem;
  width: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 990;
  min-width: 1280; }
  nav ul > li {
    font-size: 0.875rem;
    margin-right: 4.375rem;
    list-style: none;
    cursor: pointer;
    float: left;
    line-height: 3.5625rem;
    min-width: 3.5rem;
    text-align: center; }
  nav .nav-right {
    float: right; }
    nav .nav-right .nav-nav > li {
      transition: color 1s ease, border-color 1s ease-out;
      -moz-transition: color 1s ease, border-color 1s ease-out;
      /* Firefox 4 */
      -webkit-transition: color 1s ease, border-color 1s ease-out;
      /* Safari 和 Chrome */
      -o-transition: color 1s ease, border-color 1s ease-out;
      /* Opera */ }
      nav .nav-right .nav-nav > li:hover {
        border-bottom: solid 0.5rem #bf4f49;
        color: #bf4f49; }
      nav .nav-right .nav-nav > li:last-child {
        color: #e74f4d; }
  nav .nav-left {
    float: left;
    padding-left: 3.75rem; }
    nav .nav-left h3 {
      line-height: 4.0625rem; }
      nav .nav-left h3 span {
        margin-bottom: -rem(10); }

.content {
  margin-top: 4.0625rem;
  width: 100%; }

.banner {
  height: 59.375rem;
  width: 100%;
  background: url(../img/cover1.png) no-repeat center;
  background-size: cover;
  color: #fff; }
  .banner .detail {
    height: 15.625rem;
    width: 100%;
    position: absolute;
    background-color: #fff;
    bottom: 0rem; }
    .banner .detail ul > li {
      list-style: none;
      cursor: pointer;
      float: left;
      margin-top: auto;
      margin-bottom: auto;
      width: 25%;
      text-align: middle; }
      .banner .detail ul > li p {
        text-align: center;
        color: #979898;
        margin: 2.8125rem auto auto auto;
        width: 9.6875rem; }
  .banner h3 {
    font-size: 3.75rem;
    padding-top: 14.5rem;
    padding-left: 7.1875rem;
    line-height: 0.45; }
  .banner > p {
    padding-left: 7.1875rem;
    font-size: 1.3125rem;
    line-height: 1.9375rem;
    margin-top: 1.9375rem; }
  .banner button {
    margin-left: 7.1875rem;
    margin-top: 4.25rem; }

.new-world {
  height: 22.5rem;
  background-color: #f7f7f7; }
  .new-world header h2, .new-world p {
    text-align: center;
    font-size: 3.375rem;
    padding-top: 3.25rem; }

.btn-primary {
  border: none;
  background-color: #e74f4d;
  color: #fff;
  width: 20.625rem;
  height: 3.9375rem;
  font-size: 1.875rem;
  padding: 0.875rem 6.25rem; }

.btn-middle {
  border: none;
  background-color: #e74f4d;
  color: #fff;
  width: 14.6875rem;
  height: 2.1875rem;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 0.625rem 5.6875rem; }

.btn-small {
  background-color: #fff;
  border: 1px #e74f4d solid;
  width: 6.5625rem;
  height: 1.9375rem;
  color: #e74f4d; }

.find-city {
  z-index: 1;
  height: 21.25rem;
  background: url(../img/cover2.png) no-repeat center;
  background-size: cover;
  color: #fff; }
  .find-city header h2 {
    padding-top: 3.375rem;
    text-align: center;
    font-size: 21px;
    color: white;
    line-height: 1.994; }
  .find-city header h3 {
    text-align: center;
    margin-bottom: 3.125rem; }
  .find-city .search li {
    float: left;
    list-style: none;
    width: 25%; }
  .find-city .font-dropdown {
    z-index: 15;
    position: absolute;
    right: 1.25rem;
    top: 50%;
    background-color: #e74f4d;
    margin-top: -0.65625rem; }
  .find-city [class^="select"] {
    position: relative;
    color: #979898;
    width: 14.6875rem;
    height: 2.25rem; }
    .find-city [class^="select"] .sel-content {
      display: none;
      position: absolute;
      background: #fff; }
      .find-city [class^="select"] .sel-content p {
        line-height: 2.25rem;
        text-indent: 1em; }
    .find-city [class^="select"] .list {
      position: absolute;
      padding-top: 2.25rem; }
      .find-city [class^="select"] .list li {
        height: 0rem;
        background: #e3e3e4;
        width: 14.6875rem; }
        .find-city [class^="select"] .list li label {
          width: 100%;
          line-height: 2.25rem;
          text-indent: 1.5em;
          display: none; }
        .find-city [class^="select"] .list li:hover {
          background: #e74f4d; }
          .find-city [class^="select"] .list li:hover label {
            color: #fff; }
      .find-city [class^="select"] .list:hover {
        margin-top: -0.0625rem;
        margin-left: -0.0625rem;
        border: #e74f4d solid 0.0625rem; }
        .find-city [class^="select"] .list:hover li {
          height: 2.125rem; }
        .find-city [class^="select"] .list:hover label {
          display: block; }
    .find-city [class^="select"] [id^="sel"]:checked ~ label:before {
      content: "√";
      position: absolute;
      left: -1em;
      margin-top: 0em;
      z-index: 12; }
    .find-city [class^="select"] [id^="sel"]:checked ~ [id^="sel-content"] {
      display: block !important;
      position: absolute;
      top: 0rem;
      left: 0rem;
      width: 14.6875rem;
      height: 2.25rem;
      z-index: 11; }
    .find-city [class^="select"] input[type="radio"] {
      position: absolute;
      left: -9999px; }

.display {
  padding: 6.25rem 9.375rem 6.875rem 9.375rem;
  background-color: #f7f7f7;
  overflow: hidden; }
  .display figure {
    width: 25%;
    float: left; }
    .display figure img {
      background-color: #fff;
      padding: 0.75rem 0.4375rem;
      border: #676768 solid 1px;
      margin: auto auto;
      width: 12.6875rem;
      height: 19.4375rem; }
    .display figure p {
      text-align: center; }
    .display figure h3 {
      padding-top: 0.5rem;
      font-size: 0.875rem;
      color: #323333;
      text-align: center; }
    .display figure h4 {
      font-size: 0.75rem;
      text-align: center;
      color: #979898;
      padding: 0.5rem 0rem; }

.switch－new {
  height: 35.4375rem;
  width: 100%; }
  .switch－new ul {
    top: 27rem;
    right: 13.125%;
    position: absolute;
    z-index: 10; }
    .switch－new ul li {
      padding: 0.625rem;
      list-style: none;
      float: left; }
      .switch－new ul li label {
        display: block;
        width: 0.625rem;
        height: 0.625rem;
        background: #d2d2d2;
        -moz-border-radius: 0.3125rem;
        -webkit-border-radius: 0.3125rem;
        border-radius: 0.3125rem; }
  .switch－new .tab {
    overflow: hidden;
    background: #fff;
    height: 35.4375rem;
    width: 100%;
    position: absolute;
    left: 0rem;
    right: 0rem;
    transition: opacity 2s ease;
    -moz-transition: opacity 2s ease;
    /* Firefox 4 */
    -webkit-transition: opacity 2s ease;
    /* Safari 和 Chrome */
    -o-transition: opacity 2s ease;
    /* Opera */ }
  .switch－new input[type="radio"] {
    position: absolute;
    left: -9999px; }
  .switch－new .left-content {
    float: left;
    width: 66.40625%;
    height: 35.4375rem;
    color: #fff;
    text-align: center; }
    .switch－new .left-content h3 {
      margin-top: 8.125rem;
      opacity: 0.5;
      font-size: 3.09206rem; }
    .switch－new .left-content h1 {
      margin-top: 0.625rem;
      font-size: 9.86175rem; }
    .switch－new .left-content p {
      margin-bottom: 1.5625rem;
      font-size: 1.36938rem; }
  .switch－new .right-content {
    float: right;
    height: 35.4375rem;
    width: 33.59375%; }
    .switch－new .right-content h4 {
      margin-top: 10.375rem;
      margin-bottom: 1.875rem;
      text-align: center;
      font-size: 1.125rem; }
      .switch－new .right-content h4 strong {
        color: #e74f4d; }
    .switch－new .right-content p {
      font-family: "SimSun";
      line-height: 2.5;
      width: 18rem;
      line-height: 1.875rem;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1.125rem; }
    .switch－new .right-content .center {
      text-align: center; }
  .switch－new .cover-4-1 {
    background: url(../img/cover4.png) no-repeat;
    background-size: cover;
    opacity: 0.2; }
  .switch－new .cover-4-2 {
    background: url(../img/cover4.png) no-repeat;
    background-size: cover;
    opacity: 0.7; }
  .switch－new .cover-4-3 {
    background: url(../img/cover4.png) no-repeat;
    background-size: cover;
    opacity: 1; }
  .switch－new .tab-content {
    display: none;
    height: 100%;
    opacity: 0; }
  .switch－new [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block !important;
    z-index: 2;
    opacity: 1; }

.read-more {
  overflow: hidden;
  font-family: "SimHei"; }
  .read-more > div {
    float: left; }
  .read-more .new-love-photo {
    width: 33.34%;
    overflow: hidden; }
  .read-more .new-love-red {
    height: 32.5625rem;
    width: 33.33%;
    background-color: #e7504d;
    color: #fff; }
    .read-more .new-love-red h2 {
      padding-top: 10.8125rem;
      font-size: 21px;
      line-height: 1.446;
      text-align: center; }
    .read-more .new-love-red h3 {
      text-align: center; }
    .read-more .new-love-red button {
      display: block;
      margin-top: 0.9375rem;
      margin-left: auto;
      margin-right: auto;
      background-color: #e7504d;
      border: 1px #fff solid;
      width: 7.25rem;
      height: 2.5625rem;
      color: #fff;
      font-size: 1.3125rem;
      font-family: "SimHei";
      line-height: 2.5625rem; }
  .read-more .new-love-white {
    height: 32.5625rem;
    width: 33.33%;
    background-color: #fff;
    color: #e7504d; }
    .read-more .new-love-white h2 {
      padding-top: 10.8125rem;
      font-size: 21px;
      line-height: 1.446;
      text-align: center; }
    .read-more .new-love-white h3 {
      text-align: center; }
    .read-more .new-love-white button {
      display: block;
      margin-top: 0.9375rem;
      margin-left: auto;
      margin-right: auto;
      background-color: #fff;
      border: 1px #e74f4d solid;
      width: 7.25rem;
      height: 2.5625rem;
      color: #e74f4d;
      font-size: 1.3125rem;
      font-family: "SimHei";
      line-height: 2.5625rem; }

.join-us h2 {
  margin-top: 7.375rem;
  color: black;
  text-align: center;
  font-size: 1.3125rem; }

.join-us h3 {
  color: #e74f4d;
  text-align: center;
  margin-bottom: 0.9375rem; }

.join-us > p {
  width: 26.25rem;
  margin: auto;
  text-align: center; }

.join-us .provision {
  width: 78.125%;
  height: 18.6875rem;
  padding: 5.625rem 8.75rem 9.375rem 8.75rem; }
  .join-us .provision > div {
    float: left; }
  .join-us .provision .more {
    width: 50%; }
  .join-us .provision .forms {
    width: 50%; }
    .join-us .provision .forms span {
      background-color: #e3e3e4;
      line-height: 2.375rem; }
    .join-us .provision .forms input {
      height: 2.375rem;
      width: 15.9375rem;
      margin-right: 0.9375rem;
      margin-bottom: 0.9375rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      border: none;
      background-color: #e3e3e4; }
    .join-us .provision .forms textarea {
      height: 7.5rem;
      width: 38.75rem;
      margin-right: 0.9375rem;
      margin-bottom: 0.9375rem;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      -o-appearance: none;
      border: none;
      background-color: #e3e3e4;
      resize: none; }
