@import "var";
@import "color/default";
@import "sprite";
@import "base";

nav {
	top: rem(0);
	height: rem(65);
	width: 100%;
	position: fixed;
	background-color: $white;
	z-index:990;
	ul > li {
		font-size: rem(14);
		margin-right:rem(10*7);
		list-style: none;
		cursor: pointer;
		float: left;
		line-height: rem(65-8); 
		min-width: rem(56);
		text-align: center;
	}
	.nav-right {
		float: right;
		.nav-nav {
			& > li {
				@include transition((color 1s ease,border-color 1s ease-out))
				&:hover {
					border-bottom: solid rem(8) $deep-red;
					color: $deep-red;
				}
				&:last-child {
					color: $red;
				}
			}
		}
	}

	.nav-left {
		float: left;
		padding-left: rem(60);
		h3 {
			line-height: rem(65);
			span {
				margin-bottom: -rem(10);
			}

		}
	}
}

.content {
	margin-top: rem(65);
	width: 100%
}

.banner {
	height: rem(950);
	width: 100%;
	background: url(../img/cover1.png) no-repeat center;
	background-size: cover;
	color: $white;
	
	.detail {
		height: rem(250);
		width: 100%;
		position: absolute;
		background-color: $white;
		bottom: 0rem;
		ul > li {
			list-style: none;
			cursor: pointer;
			float: left;
			// position: absolute;
			margin-top:auto;
			margin-bottom: auto;
			width: 25%;
			text-align: middle;
			p {
				text-align: center;
				color: $font-grey;
				margin: rem(45) auto auto  auto;
				width: rem(155);
			}

		}
	}
	h3 {
		font-size: rem(60);
		padding-top: rem(232);
		padding-left: rem(115);
		line-height: 0.45;
	}
	& > p {
		padding-left: rem(115);
		font-size: rem(21);
		line-height: rem(31);
		margin-top: rem(31);
	}
	button {
		margin-left: rem(115);
		margin-top: rem(68);
	}
}
.new-world {
	height: rem(360);
	background-color: $light-grey;
	header h2 , p {
		text-align: center;
		font-size: rem(54);
		padding-top: rem(52);
	}
}
.btn-primary {
	border: none;
	background-color: $red;
	color: $white;
	width: rem(330);
	height: rem(63);
	font-size: rem(30);
	padding: rem(14) rem(100);
}
.btn-middle {
	border: none;
	background-color: $red;
	color: $white;
	width: rem(235);
	height: rem(35);
	font-size: rem(14);
	line-height: rem(14);
	padding: rem(10) rem(91);
}
.find-city {
	z-index:1;
	height: rem(340);
	background: url(../img/cover2.png) no-repeat center;
	background-size: cover;
	color: $white;
	header {
		h2 {
			padding-top: rem(54);
			text-align: center;
			font-size: 21px;
			color: rgb(255, 255, 255);
			line-height: 1.994;

		}
		h3 {
			text-align: center;
			margin-bottom: rem(50);
		}
	}
	.search {
		
		li {
			float: left;
			list-style: none;
			width: 25%;
		}
	}
	//select标签模拟 start===========
	.font-dropdown {
		//下拉菜单的额外样式设置
		z-index: 15;
		position: absolute;
		right: rem(20);
		top: 50%;
		background-color: $red;
		margin-top: -(rem(10.5));
	}
	//匹配开头为select的class
	[class^="select"] {
		position: relative;
		color: $font-grey;
		//固定宽高
		width: rem(235);
		height: rem(36);
		//显示内容设定，默认不显示
		.sel-content {
			display: none;
			position: absolute;
			background: $white;
			p {
				line-height: rem(36);
				text-indent: 1em;
			}
		}
		//列表栏
		.list {
			position: absolute;
			padding-top: rem(36);
			li {
				height: 0rem;
				background: $deep-grey;
				width: rem(235);
				label {
					width: 100%;
					line-height: rem(36);
					text-indent: 1.5em;
					display: none;
				}
				//划过选择列表时更换颜色
				&:hover {
					background: $red;
					label {
						color: $white;
					}
				}
			}
			//列表出现时添加边框
			&:hover {
				border: $red solid rem(1);
				li{
					height: rem(36-2);
				}
				label {
					display: block;
				}
			}

		}
		//id为sel的input被选中时在开头添加对勾
		[id^="sel"]:checked ~ label:before {
			content:"√";
			position:absolute;
			left: -1em;
			margin-top: 0em;
			z-index: 12;
		}
		//只有被选中的sel的内容才能被显示
		[id^="sel"]:checked ~ [id^="sel-content"] {
			display: block !important;
			position:absolute;
			top: 0rem;
			left: 0rem;
			width: rem(235);
			height: rem(36);
			z-index: 11;
		}
		input[type="radio"] {
		  position: absolute;
		  top: -9999px;
		  left: -9999px;
		}
	}
	//select标签模拟 end===========
}
.display {
	padding: rem(100) rem(150) rem(110) rem(150);
	background-color: $light-grey;
	overflow: hidden;
	figure {
		width: 25%;
		float: left;
		
		img {
			background-color: $white;
			padding: rem(12) rem(7);
			border: $grey solid 1px;
			margin: auto auto;
			width: rem(203);
			height: rem(311);
		}
		p {
			text-align: center;
			color: $font-grey;
		}
		h3 {
			font-size: rem(14);
			color: $black;
			text-align: center;
		}
	}
}