@mixin grid($lq768){
	@if $lq768 {
		@for $i from 1 through 12 {
			.col-sm-#{$i} {
				width: (($i * 1 / 12) * 100%);
				float: left;
			}
		}
	}@else{
		@for $i from 1 through 12 {
			.col-md-#{$i} {
				width: (($i * 1 / 12) * 100%);
				float: left;
			}
		}
	}
}
@mixin clearFix{
	content:"";
	display:table;
	clear:both;
}
* {
	padding: 0px;
	margin: 0px;
}
div {
	position: relative;
}
.context {
	border: 1px black solid;
	background-color: grey;
	height: 50px;
	margin-top: 20px;
	margin-right: 20px;
	box-sizing:border-box;
}
.grid .row {
	width: 100%;
	padding-left: 20px;
	box-sizing:border-box;
	&:after,&:before{
		@include clearFix();
	}
}
@media screen and (min-width: 769px) { 
	.grid .row {
		@include grid(false);
	}
} 
@media screen and (max-width: 768px) { 
	.grid .row {
		@include grid(true);
	}
} 
