@import "base";
.command-editor {
	width: 360px;
	height: 210px;
	overflow: hidden;
	.editor {
		float: left;
		width: 300px;
		font-size: 20px;
		padding-left: 5px;
		padding-top: 5px;
		background-color: #5c6bc0;
		border: none;
		resize: none;
		outline: none;
		appearance: none;
		-webkit-appearance: none;
	}
	.command-line-wrap {
		float: left;
	    width: 60px;
		padding: 5px;
		background-color: #3f4ea9;
		font-size: 20px;
		text-align: right;
	}
	.command-line-wrap,.editor {
		line-height: 25px;
		color: white;
		cursor: default;
		box-sizing: border-box;
		height: 210px;
	}
}