/*constructure start==============*/
$width:1280;
@function per($n) {
    @return (($n/$width)*100%);
}
@function rem($n) {
	@return (($n/16)*1rem);
}
//TODO:padding调整 =清除必要padding

nav {
	//TODO:清除颜色
	background-color: red;
	height: rem(56);
}

.content {
	//TODO:清除颜色
	// background-color: green;
	overflow: hidden;
	.inside{
		float: right;
		width: per(1020);
		min-width: 1020/$width*1080*1px;
		& > div {
			width: per(1000);// TODO: 原宽度不够横向平铺两个表格，  original: per(890)
            min-width: 910px;//两边预留10magin
			// padding: rem(20);
			margin: rem(20) auto rem(0) auto;
		}
		.position {
			//TODO:清除颜色
			// background-color: grey;
			padding: rem(20);
			margin-top: rem(0);
			width: rem($width); // TODO: 原方法拉伸到一定宽度就不符合要求，original: rem(($width-260))
		}
	}

	.aside {
		font-size: rem(12);
		background-color: #2a2e3d;
		color: #6e8095;
		width: per(260);
		min-width: 260/$width*1080*1px;
		// min-width: rem(260);
		border-box: inside;
		float: left;
		height: rem(1212);
	}
}
.statistic {
	//TODO:清除颜色
	background-color: blue;
}

.form {
	//TODO:清除颜色
	// background-color: yellow;
}
.date {
	//TODO:清除颜色
	// background-color: pink;
}

/*constructure end===============*/
