* {
	margin: 0;
	padding: 0;
	position: relative;
}
body{
	margin: auto;
	min-width: 1280px;
	font-size: 12px;
}
button.primary {
    background-color: rgb(25,99,150);
    color: white;
}
button.primary:hover {
	background-color: rgb(59,169,238);
	color: white;
}
button.primary:active {
	background-color: #e64a19;
	color: white;
}
button.warning {
    background-color: rgb(197,0,14);
    color: white;
}
button.warning:hover {
    background-color: rgb(230,115,124);
    color: white;
}
button.warning:active {
    background-color: #e64a19;
    color: white;
}
button{
	margin: 5px 6px;
    padding: 5px 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
}
.space {
	width: 850px;
	height: 650px;
	float: left;
}
.space canvas {
	margin-left: 24px;
	margin-top: 24px;
	width: 800px;
	height: 600px;
	border:1px #000 solid;
}
.control {
	width: 400px;
	height: 650px;
	float: right;
}
.control .controltab {
	padding: 20px;
	width: 310px;
	margin-right: 24px;
	margin-top: 24px;
}
.controltab ul li {
	list-style: none;
}
.controltab .console {
	background-color: #333;
	padding: 20px;
	color: white;
}
.control .console {
	margin-top: 20px;
	min-height: 270px;
}
.control .contol-tab {
	margin-top: 20px;
}
.contol-tab .single {
	margin-top: 10px;
}
.contol-tab .new {
	margin-top: 20px;
}
.slider {
	position: fixed;
	z-index: 100;
	left: -400px;
	/*left: 0px;*/
	transition: left .3s ease;
	-webkit-transition: left .3s ease;
	-moz-transition: left .3s ease;
}
.slider.active {
	left: 0px;
}
.slider .open {
	position: absolute;
	top: 0px;
	left: 400px;
	border: 1px solid #e3e3e3;
	padding: 15px;
	background-color: white;
	z-index: 100;

}
.slider table {
	background: white;
	width: 400px;
}
.slider table th {
	background: #e3e3e3;
	padding: 15px;
}
.slider table td {
	border: 2px #e3e3e3 solid;
	padding: 15px;
	text-align: center;
}